/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1{
  font-family:'Public Sans', sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-top: 13px;
  
}
section{
  background-color: #FE480F;
  width: auto;
  min-height: 100px;
  margin-top: -36px;
  margin-bottom: -9px;
  border-bottom: solid 2px;
}

h2, h3{
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  
}

.container{
  width: 26%;
  margin: auto;
  text-align: center;

}@media screen and (min-width: 850px) {
  .container{
    max-width: 26%;
  }
}


#box{
  margin-top: 20px;
  margin-bottom: 15px;
  border: solid 2px;


}
@media screen and (max-width: 399px) {
  #box{
    border: none;
  }
}


button{
  background-color: #FE480F;
  border-color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  
}
button:hover{
  background-color: #cf3f14;

}

div{
  text-align: center;
  padding: 13px;
}